# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# VS Code Hidden Files to exclude
.DS_Store

# Location where I drop scratch files
scratch_pad/

# CA Certs
.maestro-db/